body {
  font-family: sans-serif;
  padding: 50px;
  margin: 0;
  max-width: 800px;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  border: #111;
}

.container {
  max-width: 800px;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  border: #111;
}

input {
  margin: 5px;
  padding: 8px;
}

button {
  margin: 5px;
  padding: 6px 10px;
  cursor: pointer;
}

.dark {
  background-color: #111;
  color: white;
  min-height: 100vh;
}

.light {
  background-color: #fff;
  color: black;
  min-height: 100vh;
}
